.container{
  width: 270px;
  height: 270px;
  position: relative;
  
  .complete__percent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -90%);
  }

  .complete__desc{
    position: absolute;
    top: 50%;
    font-size: 16px;
    width: 107px;
    color: var(--secondary-text-color);
    text-align: center;
    left: 50%;
    transform: translate(-50%, 40%);
  }
}