@forward "reset";
@forward "boilerplates";
@forward "typography";
@forward "colors";

.dashboard {
  background-color: var(--background-color);
  min-height: 100%;
  padding: 50px;
  width: 55%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  .header {
    display: none;
    justify-content: space-between;
    margin-bottom: 40px;
    .sidebar-toggle {
      cursor: pointer;
      position: relative;
      height: 20px;
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      span {
        color: var(--primary-text-color);
        border: 1px solid var(--primary-text-color);
        width: 30px;
        &:nth-child(2) {
          width: 20px;
        }
        &:nth-child(3) {
          width: 15px;
        }
      }
      &.--right {
        align-items: end;
      }
    }
  }
  &__info {
    position: relative;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container {
    position: relative;
    margin-top: 20px;
  }
  @media screen and (max-width: 1800px) {
    width: 50%;
  }
  @media screen and (max-width: 1600px) {
    width: 45%;
  }
  @media screen and (max-width: 1400px) {
    width: 100%;
    .header {
      display: flex;
    }
  }
  @media screen and (max-width: 600px) {
    width: 100%;
    .header {
      display: flex;
    }
    padding: 20px;
  }
}
