@forward "reset";
@forward "boilerplates";
@forward "typography";
@forward "colors";

.dashboard {
  background-color: white;
  min-height: 100%;
  padding: 50px;
  width: 100%;
  max-width: 1050px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .sidebar-toggle {
      cursor: pointer;
      position: relative;
      height: 20px;
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      span {
        color: var(--primary-text-color);
        border: 1px solid var(--primary-text-color);
        width: 30px;
        &:nth-child(2) {
          width: 20px;
        }
        &:nth-child(3) {
          width: 15px;
        }
      }
      &.--right {
        // justify-content: end;
        align-items: end;
      }
    }
  }
}
