.container {
  pointer-events: all;
  cursor: pointer;
  position: relative;
  color: var(--primary-color);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  background-color: var(--background-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  &:hover {
    bottom: 10.5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
  .content {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-size: 60px;
  }
}
