.container {
  position: relative;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .habits {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .noHabits {
    width: 100%;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--secondary-text-color);
    line-height: 200%;
  }
  .completedHabits {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .habits {
      opacity: 0.6;
    }
  }
}
